body {
    font-family: 'Poppins';
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.rows {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color:white;
  display: none;
  overflow: hidden;
}

.contain{
    margin:0px 300px;
    padding:0px 15px;
}

button {
  background-color: #3A7765; /* Green */
  border: none;
  color: white;
  padding: 6px 15px;
  width:200px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

span{
    padding:10px;
}

iframe{
    height:60%;
}

.mobile{
    display:none
}

.mobile2{
    display:none
}

.carousel-inner img {
    width: 100%;
    height: 20%;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
    }
    .mobile{
        display:block;
    }


    .desktop{
        display:none;
    }

    .mobile2{
        display:none;
    }

    .contain{
        margin:0px 0px;
        padding:2px;
    }
    iframe{
        height:50%;
    }

    .column3{
        flex: 30%;
        padding: 5px;
        float: left;
        width:33.33%
    }

    .column4{
        flex: 50%;

        float: left;

        padding: 5px;
        width:60%;
    }


    ul.a {
    list-style-position: outside;
    }
    button{
        padding: 15px 15px;
    width:50%;
    font-size:32px;
    }
    button.but{
        padding: 15px 15px;
    width:100%;
    font-size:32px;
    }


}
