
    body {
        font-family: 'Poppins';

    }
    .column {
    float: left;
    width: 25%;
    padding:2px;
    }

    .panel {
        background-color:white;
      display: none;
      overflow: hidden;
    }
    /* Clear floats after image containers */
    .row::after {
    content: "";
    clear: both;
    display: table;
    }

    .rows {
    display: flex;
    }



    .contain{
        margin:0px 300px;
        padding:0px 15px;
    }

    button {
    background-color: #3A7765; /* Green */
    border: none;
    color: white;
    padding: 6px 15px;
    width:200px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    }

    span{
        padding:10px;
    }

    iframe{
        height:60%;
    }

    .mobile{
        display:none
    }

    .mobile2{
        display:none
    }

    @media screen and (max-width: 1000px) {
        .column {
            width: 100%;
        }
        .mobile{
            display:block;
        }

        .desktop{
            display:none;
        }

        .mobile2{
            display:none;
        }

        .contain{
            margin:0px 0px;
            padding:2px;
        }

        iframe{
            height:50%;
        }

        .column3{
            flex: 30%;
            padding: 5px;
            float: left;
            padding: 5px;
            width:33.33%
        }

        .column4{
            flex: 50%;
            padding: 5px;
            float: left;
            padding: 5px;
            width:60%;
        }

        ul.a {
            list-style-position: outside;
        }
        button{
            padding: 15px 15px;
            width:50%;
            font-size:32px;
        }
        button.but{
            padding: 15px 15px;
            width:100%;
            font-size:32px;
        }
    }

        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 106 css*/
        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#fff;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
